<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bull Games - Store</title>
    <%- include('./partials/head.ejs') %>
    
    <style>

/* Style for each card */
.ch {
  cursor: pointer;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none; /* No shadow by default */
}

/* Hover effect for the card */
.ch:hover {
  transform: scale(1.1); /* Increases the size of the card */
  border: 1px solid #ffc107; /* Warning color (orange) shadow */
}

/* Optional: Style for card content */
.ch h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ch p {
  font-size: 14px;
  color: #b9b9b9;
}

    </style>

</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container-fluid my-4 p-3 d-flex">
        <div class="container w-75">
            <div class="row row-cols-1 p-3 row-cols-md-3 g-4">

                <% if (locals.tenGames) { %>
                 <% tenGames.forEach(game => { %>
                  

                    <div class="col">
                        <div class="card ch text-bg-dark" style="width: 18rem;">
                            <img src="<%= game.coverImgUrl %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h4 class="card-title text-warning"><%= game.gameName %></h4>
                              <p class="card-text"><%= game.gameName.slice(0,20) %></p>
                              <p class="card-text">
                                <small class="text-body-dark">
                                <%= game.genres %>
                                </small>
                            </p>
                              <a href="explore/<%= game.game_id %>" class="btn border border-secondary text-white btn-outline-secondary">View</a>
                            </div>
                          </div>
                    </div>



                 <% }) %>
                <% } %>

              </div>
        </div>


        <div class="container w-25 bg-dark rounded">
                <div class="container my-5">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2 bg-dark border border-warning text-warning" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                      </form>
                </div>
                <div class="container mt-5">
                    <div class="container text-center">
                        <div class="row gap-3 row-cols-4">

                            <input type="checkbox" class="col btn-check" id="btn-check-action-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-action-outlined">Action</label><br>

                            <input type="checkbox" class="col-6 btn-check" id="btn-check-adventure-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-adventure-outlined">Adventure</label><br>

                            <input type="checkbox" class="col btn-check" id="btn-check-rpg-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-rpg-outlined">RPG</label><br>


                            <input type="checkbox" class="col btn-check" id="btn-check-shooter-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-shooter-outlined">Shooter</label><br>

                            <input type="checkbox" class="col btn-check" id="btn-check-sport-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-sport-outlined">Sport</label><br>

                            <input type="checkbox" class="col-6 btn-check" id="btn-check-simulation-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-simulation-outlined">Simulation</label><br>

                            <input type="checkbox" class="col-4 w-25 p-4 btn-check" id="btn-check-strategy-outlined" autocomplete="off">
                            <label class="btn w-25 px-4 btn-outline-secondary" for="btn-check-strategy-outlined">Strategy</label><br>

                            <input type="checkbox" class="col btn-check" id="btn-check-puzzle-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-puzzle-outlined">Puzzle</label><br>

                            <input type="checkbox" class="col-6 btn-check" id="btn-check-fighting-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-fighting-outlined">Fighting</label><br>

                            <input type="checkbox" class="col btn-check" id="btn-check-racing-outlined" autocomplete="off">
                            <label class="btn btn-outline-secondary" for="btn-check-racing-outlined">Racing</label><br>

                        </div>
                      </div>
                </div>
        </div>
        
    </div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>